button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 2.7rem;
  border-radius: 1.125rem;
}

.normal {
  background: #707070;
  align-items: center;
  justify-content: center;
  border: #707070;
  color: white;
  border-radius: 1.125rem;
  padding: 0.5rem 2.7rem;
  font-size: 0.9rem;


  &:hover {
    transition: 0.3s;
    color: white;
  }
}

.outline {
  border: 1px solid #707070;
  color: #707070;

  &:hover {
    transition: 0.3s;
    color: white;
    background-color: #707070;
  }
}